@font-face {
    font-family: 'Open Sans';
    src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }